<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtjLFiDskaOxKPLbqhKnAfD1In56V0HTU</string>
	<key>GCM_SENDER_ID</key>
	<string>622099708370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emindmatterssystem.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>emindmatterssystem</string>
	<key>STORAGE_BUCKET</key>
	<string>emindmatterssystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622099708370:ios:82d6a94973da6c6eb1700b</string>
</dict>
</plist>